.card {
  max-width: 390px;
  height: 830px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  gap: 60px;
}
.card__title {
  position: relative;
  display: flex;
  align-items: end;
  font-size: 30px;
  font-weight: 700;
  color: var(--color-black);
  align-self: center;
}
.card__title::before {
  content: "01";
  position: absolute;
  top: -115px;
  left: -115px;
  font-size: 150px;
  font-weight: 400;
  color: var(--color-light-green);
  opacity: 0.3;
}

.card__description {
  font-size: 20px;
  font-weight: 500;
  color: var(--color-light-black);
}

.card__img {
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
  aspect-ratio: auto 65/82;
}

.card__title--right {
  align-self: end;
}

.card__title--second::before {
  content: "02";
}

.card__title--third::before {
  content: "03";
  left: -133px;
}

@media (max-width: 480px) {
  .card__title {
    font-size: 20px;
  }
  .card__title::before {
    left: -100px;
    
  }
  .card__description {
    font-size: 16px;
  }
  .card {
   
    height: 700px;
   
  }
  

  
}
