.hero{
    background: url('../assets/webp/BG.webp')center/cover no-repeat;
    width: 100%;
    height: 890px;
}



.hero-content {
    padding: 180px 0 0 0;
    max-width: 420px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    
   
}


.hero-title {
    font-size: 65px;
    font-weight: 700;
    color: var(--color-green);
}

.hero-desc {
    margin: 25px 0 50px;
    font-size: 20px;
    font-weight: 400;
    color: var( --color-light-black);

}
.hero-content.btn{
    width: 230px;
    height: 65px;
}
@media(max-width: 768px){
    .hero{
      
        height: 700px;
    }
    .hero-content {
        padding: 80px 0 0 0;
        
       
    }

}
@media(max-width: 480px){
    .hero{
        background: 
        linear-gradient(180deg,rgba(245,246,252,0.52),rgba(255,176,139,0.28)),
        url('../assets/webp/BG.webp')60% 50%/cover no-repeat;
       
    }
    .hero-title {
        font-size: 50px;
        max-width: 350px;
      
        
    }

}


