.pricing {
    padding: 95px 0 145px 0;
   
  
    background-color: var( --color-dark-green);
}

.pricing__content {
    padding: 0 0 0 30px;
    color: var(--color-white);
    
    
}

.pricing__title {
    
font-weight: 900;
font-size: 40px;


}

.pricing_nav {
    margin: 65px 0 0 0;



}

.pricing_nav-list {
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: start;
    row-gap:  60px;
}

.pricing_nav-item {
   
}

.pricing_nav-link {
    font-weight: 600;
    font-size: 25px;
    
}

