.product__section {
  padding: 115px 0 240px 0;
}

.product__wrapper {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
 
  /* align-items: start; */
  flex-wrap: wrap;
  padding: 0 30px;

}

.product__preview {
  overflow: hidden;
  height: 570px;
}

.product__preview-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product__content {
  max-width: 530px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  /* margin: 0 120px 0 0; */
  row-gap: 20px;
}

.product__info {
  font-weight: 600;
  font-size: 25px;
}

.product__title {
  font-weight: 700;
  font-size: 50px;
  color: var(--color-green);
}

.product__description {
  font-weight: 400;
  font-size: 20px;
}
.product__content .btn {
  width: 230px;
  height: 65px;
  margin: 20px 0 0 0;
}
@media(max-width:1244px){
  .product__wrapper {
    display: flex;
   /* align-content: center; */
     justify-content: center;
     text-align: center;
}
.product__content{
padding-top: 40px;
justify-content: center;
align-items: center;

}
.product__wrapper .person-card {
  display: none;
}
}

@media (max-width: 992px) {
  .product__content {
    max-width: 390px;
    
  }
  

  .product__title {
    font-size: 32px;
  }

  
  
}
@media (max-width: 768px) {
  .product__wrapper {
   display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 40px; */
  }

  .product__preview {
    height: 470px;
    
  }
  .product__title {
    font-size: 28px;
  }
  .product__description {
    
    font-size: 16px;
  }
  
}
