.success__section{
background-color: var(--color-dark-green);
}
.success__wrapper {
   

    padding: 220px 0;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap-reverse;
    
    gap: 30px;
   
}

.success__content {

    margin: 50px 0 0 0;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    place-items: start;
    
    gap: 20px;
}
.success__content .btn{
    margin: 60px 0 0 0;
    width: 240px;
    height: 65px;
  
    
}
.success__content .btn:hover{
    outline: 2px solid var(--color-white);
}


.success__title {
    font-size: 50px;
    font-weight: 700;
    color: var(--color-white);
}
.success__description{
    font-size: 25px;
    font-weight: 600;
    color: var(--color-white);
}


.success__content-video{
    max-width: 790px;
    height: 455px;
    position: relative;
}
.success__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 158/91;
    border-radius: 15px;
}
.success__gradient{
    position: absolute;
    z-index: 1;
    inset: 0;
    background: linear-gradient(180deg,rgba(0,0,0,.1),rgba(0,0,0,.1)) center/cover no-repeat ;
}
@media(max-width:1370px){
    .success__wrapper {
   

        display: flex;
        justify-content: center;
      
        
    }
    .success__content {

       text-align: center;
       align-items: center;
    }
}
@media(max-width:576px){
    .success__wrapper{
        padding: 150px;
    }
    .success__title {
        font-size: 35px;

    }
    .success__description{
        font-size: 16px;
        
    }
    .success__content .btn{
        
        width: 130px;
        height: 55px;
      
        
    }

}

